#jinja2:lstrip_blocks: True
global
  log         127.0.0.1 local2
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  daemon
defaults
  mode                    http
  log                     global
  option                  dontlognull
  option http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000
frontend stats
  bind *:1936
  mode            http
  log             global
  maxconn 10
  stats enable
  stats hide-version
  stats refresh 30s
  stats show-node
  stats show-desc Stats for k8s cluster
  stats auth admin:k8s
  stats uri /stats
listen api-server-6443
  bind 0.0.0.0:6443
  mode tcp
  {%  for i in groups ["master"] %}
  server master{{ loop.index }} {{ hostvars[i]['ansible_default_ipv4']['address'] }}:6443 check inter 1s
  {% endfor %}
{% if port_mappings is defined and port_mappings.items() is defined %}
{% for name, mapping in port_mappings.items() %}
listen {{name}}-app-{{ mapping.source }}
  bind 0.0.0.0:{{ mapping.source }}
  mode tcp
  {%  for i in groups ["worker"] %}
  server worker{{ loop.index }} {{ hostvars[i]['ansible_default_ipv4']['address'] }}:{{ mapping.target }} check inter 1s
  {% endfor %}
{% endfor %}
{% endif %}
